{% extends 'blog/base.html' %}

{% block title %}
	<title>Статьи</title>
{% endblock title %}

{% block content %}
	<div class="row">
		<div class="col-md-8 blog-main">
			{% for article in articles %}
				<div class="blog-post">
					<a href="{% url 'blog:article_detail' article.id %}" id="title_link"><h1 class="blog-post-title">{{ article.title }}</h1></a>
					<p class="blog-post-meta">Дата публикации: {{ article.pub_date}}</p>
					<p class="blog-post-meta">Категория: 
						{% for category in article.categories.all %}
							{{ category.name}}
						{% endfor %}
					</p>
					<p>{{ article.description }}</p>
					<p class="blog-post-meta">Тэги: 
						{% for tag in article.tags.all %}
							{{ tag.name}}
						{% endfor %}
					</p>
					<a href="{{ article.source_link }}" target="_blank">{{ article.source_link }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content%}